*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#container{
    max-width: 1000px;
    margin: auto;
}
h1{
    background-color: rgb(30, 104, 243);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20pt;
    border-radius: 1%;

}
section{
    background-image: url(../images/Painel\ solar\ recort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    overflow:hidden;
}
#formcontainer{
    border-radius: 2%;
    padding: 20px;
    margin-top: 20px;
    max-width: 230px; 
    float:right;
    background-color: rgb(255, 241, 45);
}
h2{
    font-size: 14pt;
    text-align: left;
}
.mb{
    margin-bottom: 10px;
}
input, select{
    box-sizing: border-box;
    width:100%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
}
footer {
    background-color: rgba(128, 128, 128, 0.781);
    padding-top: 20px;
    padding-left: 20px;
}
h3{
    text-align: center;
}
.picture{
    width: 150px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.description{
    display: inline-block;
    max-width: 25%;
}
.description h4, .description p {
    margin-bottom: 20px;
    margin-left: 20px;
}
.Saulo{
    display: inline;
    
}
.picture2{
    width: 150px;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.description2{
    display: inline-block;
    max-width: 25%;
}
.description2 h4, .description2 p {
    margin-bottom: 20px;
    margin-left: 20px;
}
.Victor{
    display: inline;
    margin-left: 10%;
    
}